<style>
    .search-btn{
        background-color: #fe424d;
        color: #fff;
        border-radius: 25px;
        padding: 0 1rem 0 1rem;
    }
    .search-btn:hover{
        background-color: #fe424d;
        color: #fff;
    }
    .search-btn i{
        display: inline;
        margin-right: 0.5rem;
    }
    .search-inp{
        border-radius: 25px;
        padding: 0.5rem 3rem 0.5rem 3rem;
        font-size: 1rem;
    }
    @media (max-width: 768px){

    .search-form {
        flex: 1;
        justify-content: center;
    }

    .search-inp {
        width: 130px;
        padding: 0.4rem 1rem;
        font-size: 0.9rem;
    }

    .search-btn {
        padding: 0 0.6rem;
        font-size: 0.85rem;
    }

    .navbar-collapse {
        background-color: #ebebeb;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.08);
        margin-top: 0.5rem;
    }
}
    
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid d-flex align-items-center">

        <!-- Logo -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i>
        </a>

        <!-- Search (OUTSIDE collapse) -->
        <form action="/listings" method="get" class="d-flex mx-auto search-form" role="search">
            <input class="form-control me-2 search-inp" name="destination" type="search" placeholder="Search destinations" />
            <button class="btn search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <!-- Hamburger -->
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Menu -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings">Explore</a>
                <a class="nav-link" href="/listings/new">Airbnb your home</a>

                <% if (!currUser || currUser === null) { %>
                    <a class="nav-link" href="/signup">Sign up</a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                <% } %>

                <% if (currUser){ %>
                    <a class="nav-link" href="/logout"><b>Log out</b></a>
                <% } %>
            </div>
        </div>

    </div>
</nav>